body {
background: linear-gradient(158deg, #000000 0%, #51e66f 100%);
background-attachment: fixed;
background-size: cover;
margin: 2px; 
}    
h1 {
  font-family: 'Press Start 2P', monospace;
  font-size: 30px;
  text-align: center;
  color: white;
  filter: drop-shadow(5px 5px 10px #000000);
}
.navbar ul{
    list-style-type: none;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px;
    margin: 2px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
h3 {
   font-family: 'Press Start 2P', monospace;
  font-size: 30px;
  text-align: center;
  color: white;
  filter: drop-shadow(5px 5px 10px #000000);
}
button {
   font-family: 'Press Start 2P', monospace;
  font-size: 30px;
  text-align: center;
  background: red;
  color: white;
  filter: drop-shadow(5px 5px 10px #000000);
}
