body {
    font-size: 10pt;
    background: #ff2e2e;
    background: linear-gradient(327deg, rgba(255, 46, 46, 1) 0%, rgba(179, 49, 46, 1) 35%, rgba(74, 34, 34, 1) 100%);
}
h1{
 color: #B20909;
 background: #BE5A5A;
 border-right: double;
 border-top: double;
 border-bottom: double;
 border: double;
 font-family: monospace;
 font-size: 30pt;
}
h2{
  color: #FFFFFF;
}

p {
 color: #FF4D4D;
 font-family: monospace;
}
a{
  color: #BA0909;
  font-family: monospace;
}
