body {
    background: #D09E3B;
    margin: 0px;
}

h1{
 color: #B88A2F;
 background: #3E2E0D;
 border-right: double;
 border-top: double;
 border-bottom: double;
 border: double;
 font-family: 'Trebuchet MS';
 font-size: 30pt;
 text-align: center;
}
.navbar ul{
  list-style-type: none;
  background-color: #E08517;
  border: double;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
}
.navbar a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: monospace;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: #A16720;
}
.navbar li{
  float: left;
}
main {
 font-family: monospace;
 font-size: 25px;
 color: white;
}
