body {
    font-size: 10pt;
    background: #872B2B;
}
h1{
 color: #B20909;
 background: #BE5A5A;
 border-right: double;
 border-top: double;
 border-bottom: double;
 border: double;
 font-family: monospace;
 font-size: 30pt;
}
h2{
  color: #FFFFFF;
}

p {
 color: #FF4D4D;
 font-family: monospace;
}
a{
  color: #BA0909;
  font-family: monospace;
}
